{% extends 'administrater/base.html' %}

{%  block body_data %}
<br>
<div class="container-fluid shadow p-4" style="max-width: 500px;"><br>
    <form action="{% url 'add_website_menu' %}" method="POST">
        {% csrf_token %}
        <h4 class="text-info">Add Your Website Menu!!</h4><br>
        <select class="form-select" aria-label="" name="website_id" required>
         {% for data in data.web_data %}
            <option value="{{ data.id }}">{{ data.web_name }}</option>
            {% endfor %}
        </select>
    <br>
        <input type="text" class="form-control " name="menu_name" placeholder="Enter Website Name" required><br>
        <input type="submit" class="btn btn-danger pull-right " style="padding-left: 40px;padding-right: 40px;" value="Add" ><br><br>
    </form>
</div>
{% endblock %}
